# Environment / secrets
.env
.env.*
*.env

# MinIO local data & binary
minio/

# Lock files
*.lock
.__*.lock

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Logs
*.log

# Java binaries
*.jar

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.tfvars

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
